.cv{
   text-align: center;
   border: dotted;
   background-color: bisque;
   font-weight: bold;
   text-decoration: ;
   
}
.cv a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}

h1{
    background-color: bisque;
    color: black;
    text-decoration: underline;
}
p{
    font-weight: ;
    font-size: 25px;
}
table,td,th{
    border: 1px solid black;
}
.div-tag{
    border: 5px outset red;
    background-color: bisque;
    text-align: center;
}
.btn{
margin-top: 20px;
width:100%;
background-color: #4CAF50; /* Green */
border: none;

padding: 15px 32px;
text-align: center;

display: inline-block;

}
.btn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
